<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/styles.css">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Editing <%= playlist.name %></title>
</head>
<body>
  <%- include('../partials/_navbar.ejs') %>
    <h1>Edit <%= playlist.name %></h1>
    <form action="/songs/<%= song._id %>?_method=PUT" method="POST">
      <input type="text" name="title" value="<%= song.title %>" required>
      <input type="text" name="artist" value="<%= song.artist %>" required>
      <input type="text" name="genre" value="<%= song.genre %>" required>
      <input type="text" name="decade" value="<%= song.decade %>" required>
      <button type="submit">Update Song</button>
    </form>    
</body>
</html>