<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Editing <%= playlist.name %></title>
</head>
<body>
  <%- include('../partials/_navbar.ejs') %>
    <h1>Edit <%= playlist.name %></h1>
    <form action="/users/<%= user._id %>/playlists/<%= playlist._id %>?_method=PUT" method="POST">
      <label for="Name">Name:</label>
      <input type="text" name="name" id="name" value="<%= playlist.name %>">
      <button type="submit">Update Playlist</button>
    </form>
</body>
</html>