<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Playlist</title>
</head>
<body>
  <%- include('../partials/_navbar.ejs') %>
  <h1>Welcome to my Playlist</h1>
  <a href="/users/<%= user._id %>/playlists/new">Add New Song</a>
  <% if(playlist.length) { %>
  <ul>
    <% playlist.forEach((playlistItem) => { %>
      <li><strong><%= playlistItem.name %></strong></li>
      <ul>
        <% playlistItem.songs.forEach((song) => { %>
          <li>
            <strong>Title:</strong> <%= song.title %> <br>
            <strong>Artist:</strong> <%= song.artist %> <br>
            <strong>Genre:</strong> <%= song.genre %> <br>
            <strong>Decade:</strong> <%= song.decade %> <br>
            <a href="/users/<%= user._id %>/playlists/<%= song._id %>/edit">Edit</a>
            <form
            action="/users/<%= user._id %>/playlists/<%= song._id %>?_method=DELETE"
            method="POST"
          >
          <button type="submit">Delete</button>
          </li>
          <% }) %>
        </ul>
        <% }) %>
      </ul>
      <% } else { %>
        <p>There are no songs on this playlist.</p>
      <% } %>
</body>
</html>