<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Playlist</title>
</head>
<body>
  <link href="https://fonts.googleapis.com/css2?family=Monoton&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/styles.css">
  <%- include('../partials/_navbar.ejs') %>
  <h1>Welcome to My Playlist</h1>
  <a href="/users/<%= user._id %>/playlists/new">Add New Song</a>
  <div>
    <strong><%= playlist.name %></strong>
    <ul>
      <% if (playlist.songs.length > 0) { %>
        <% playlist.songs.forEach((song) => { %>
          <li>
            <%= song.title %> by <%= song.artist %> - <%= song.genre %> (<%= song.decade %>)
            <a href="/songs/<%= song._id %>/edit">Edit</a>
            <form action="/songs/<%= song._id %>?_method=DELETE" method="POST" style="display:inline;">
              <button type="submit">Delete</button>
            </form>
          </li>
        <% }) %>
      <% } else { %>
        <li>No songs in this playlist</li>
      <% } %>
    </ul>
  </div>
</body>
</html>


