<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Playlist</title>
</head>
<body>
  <%- include('../partials/_navbar.ejs') %>
  <link href="https://fonts.googleapis.com/css2?family=Monoton&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/styles.css">
  <h1><%= playlist.name %></h1>
  <ul>
    <% if (playlist.songs.length > 0) { %>
      <% playlist.songs.forEach((song) => { %>
        <li><%= song.title %> by <%= song.artist %> - <%= song.genre %> (<%= song.decade %>)</li>
      <% }) %>
    <% } else { %>
      <li>No songs in this playlist</li>
    <% } %>
  </ul>
</body>
</html>
